.skillCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  .skillCard {
    /*border: 1px solid #ccc; /* Neutral border to give a defined card-like look */
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 15px;
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;

}


.skillCard h3 {
    font-size: 1.2rem;
    color: #2c3e50; /* Dark color for the text */
    margin-bottom: 10px;
}

.skillCard p {
    font-size: 3rem;
    color: #609aa3;
    margin: 0;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skillsTitle {
    font-size: 1.8rem;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}
