.header {
    color: #ededed;
    position: fixed; /* Stick to the top of the page */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ededed; /* Background color to prevent content showing through */
    z-index: 1000; /* Ensure it stays on top of other elements */
    padding: 10px 20px; /* Padding for spacing */
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center;
}

.filler {
    min-height: 20px;
}


.logoContainer {
    flex: 1; /* Take up space on the left */
    position: fixed;
    margin-left: 5px;
    z-index: 1001;
}

.logo {
    width: 75px; /* Adjust the size of the logo */
    height: auto;
}

.navContainer {
    flex: 2; /* Take up more space for centering the nav */
    display: flex;
    justify-content: center; /* Center the navigation links */
}

.nav {
    text-align: center;
}

.navList {
    list-style: none;
    display: inline-flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.filler {
    width: 44%;
}

.selectedNavLink {
    color: #192A2B;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.profileHeaderPicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #1e431f;
    margin-right: auto;
    justify-self: left;
    margin-bottom: 20px;
}

.selectedNavImage {
    background-color: #86bd97;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    border-radius: 10px;
}

.navLink {
    text-decoration: none;
    color: #454F4E;
    font-weight: bold;
    font-size: 1.1rem;
}

.navLink:hover {
    color: #2980b9;
}
